/* ------------------------------------------------------------------------------- 
 * 1.  Document Setup
 * ------------------------------------------------------------------------------- */
body {
	color: #636363;
	font: 14px/1.7 'microsoft yahei';
	background:url(../images/back.png) top center no-repeat;
}
a, a > * { 
     color: #333;
     text-decoration: none;
     -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
     -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
     -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
     -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
     transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out, outline .2s ease;
}
a:hover, a > *:hover {
     color: #d73300;
}
ol, ul {
	list-style: none;
}

#body-wrapper {
}

img{
      height: auto;
      max-width: 100%;
  }
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-size: 100% 200%;
	color: #fff;
	cursor: pointer;
	font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-weight: 600;
	padding: 7px 25px 8px;
	-webkit-transition: background .2s ease-out;
	-moz-transition: background .2s ease-out;
	-ie-transition: background .2s ease-out;
	-o-transition: background .2s ease-out;
	transition: background .2s ease-out;
	border:0;
}
input[type="submit"]:hover {
	background-size: 100% 100%;
}
.red {
	background: #ec4c1a;
	background: -webkit-linear-gradient(#ec4c1a, #a32700);
	background: -moz-linear-gradient(#ec4c1a, #a32700);
	background: -ms-linear-gradient(#ec4c1a, #a32700);
	background: -o-linear-gradient(#ec4c1a, #a32700);
	background: -webkit-gradient(#ec4c1a, #a32700);
	background: linear-gradient(#ec4c1a, #a32700);
}
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
	align-items: flex-start;
	text-align: center;
	cursor: default;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	background-color: buttonface;
	box-sizing: border-box;
	border: 0;
}
input[type="text"], textarea {
	background: url(../images/bg_dots_grey.png);
	border-radius: 0;
	color: #959595;
	display: block;
	font-weight: 700;
	margin-bottom: 20px;
	padding: 7px 9px;
	text-transform: uppercase;
	width: 240px;
	resize: none;
	border:0;
	}
textarea#comment {
	width: 440px;
	height: 240px;
}
div#comments {
	padding-top: 20px;
}
@media only screen and (max-width: 1110px){
	div#sidebar {
		display: none;
	}
	main#main {
		width: 80%;
	}
}
/* ------------------------------------------------------------------------------- 
 * 2.  Header
 * ------------------------------------------------------------------------------- */
h1.site-title{
     font-size: 36px;
     text-align:center;
     height: 50px;
     line-height: 62px;
     margin-bottom: 10px;
     font-family: microsoft yahei;
}

a.tale {
    color: #D73300;
}

h4.site-description {
    font-size: 13px;
    color: #929090;
    text-align: center;
    font-weight: 400;

}

#site-logo {
    width: 194px;
    height: 120px;
    margin: 0px auto;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  /*search */
  input.search-field {
	  background: url(../images/bg_dots_grey.png);
	  color: #959595;
	  padding: 6px 9px;
	  width: 244px;
	  border: 0;
	  font-size: 100%;
  }   
  input.search-submit {
	  display: none;
  }
/*  Navigation  --------------------------------*/
	
#navigation li{
	list-style: none;
	float: left;
	margin: 10px;
}
.main-navigation{
	text-align: center;
	 background: url(../images/sep_d.png) repeat-x 0 100%;
}
#navigation{
	display: inline-block;
}

#navigation a {
	color: #787575;
	font-family: "microsoft yahei";
	font-size: 24px;
	font-weight: 700;
	margin:0px 48px 0px 17px; 
	padding: 53px 0 30px;
	text-transform: uppercase;
}
#navigation a:hover, #navigation .hover > a, #navigation .current > a { 
	background: url(../images/menu_active_item.png) repeat-x 0 100%;
	color: #d73300;
}    
#navigation a:hover, #navigation .hover > a, #navigation .current-menu-item > a { 
	background: url(../images/menu_active_item.png) repeat-x 0 100%;
	color: #d73300;
}  
.selectnav {
	display: none;
}
/* ------------------------------------------------------------------------------- */
/*  4. Skill
/* ------------------------------------------------------------------------------- */
#content {
	margin:0 auto;
	margin-top:30px;
}
.clearfix::after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	visibility: hidden;
	width: 0px;
}
#main {
	float: right;
	width: 61%;
	margin-right:10%;
}
@media screen and (max-width:400px){
	#main{
		width:90%;
		margin-left:5%;
	}
	
	#sidebar{
		display:none;
	}
}
/* ----Sidebar--------------------------------------------------------------------------- */
#sidebar {
	float: right;
	width: 17%;
	margin-right:6%;
}
.widget {
	margin: 0px 0 40px;
}
.widget-area .widget-title {
	background: #D73300;
	color: #fff;
	font-size: 16px;
	width: 100px;
	height: 32px;
	line-height: 31px;
	overflow: hidden;
	text-align: center;
}
.widget-area .widget > ul {
	border-top: 3px solid rgb(215, 51, 0);
	margin-top: -16px;
	width: 200px;
	padding-top: 10px;
}
/*---------------------------------------------------------------------------------
 *  9 . Index
 *--------------------------------------------------------------------------------*/
.index-carousel {
	width:1274px;
	position:relative;
	visibility: visible;
	height:1500px;
	margin: 0 auto;
	}

.index-box{
	width:578px;
	position:absolute;
	border: 4px solid #FF6765;
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
	display:none;
}
.index-box:hover{
	 -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
 	 -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
}
.index-box.right {
	left:688px;	
}

.standard-icon{
	background: url('../images/standard-icon.png') no-repeat;
}
.moment-icon{
	background: url('../images/moment-icon.png') no-repeat;
}

.box-point{
	width: 76px;
	height: 50px;
	display: block;
	position: relative;
	top: 15px;
	right: -79px;
	margin-bottom: -50px;
	float:right ;

}

.index-box.right .icon-location {
	position: relative;
	top: 100px;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: fliph;
}
p.note {
	padding: 20px;
	font-size: 13px;
	color: #7A7777;
	height: 76px;
	text-indent: 22px;
	letter-spacing: 1px;
	line-height: 26px;
	padding-top: 6px;
}

.box-title {
	background: #FF6765;
	color: #fff;
	height:70px;

}

.box-title {
	background: #FF6765;
	color: #fff;
	height:77px;

	}
.moment-style .box-title {
	margin-top: -28px;
}

.box-title h4 {
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	padding-top:10px;
	height:12px;
}

.box-title span.date {
	margin-left: 20px;
}

.time-line {
	background:#E4E4E4;
	width:3px;
	margin:20px auto;
	display:block;
	height:1500px;
	z-index:-999;
	position:absolute;
	left:50%;
}
/*
.index-box:nth-child(2n) { 
	float:right; 
}
.index-box:nth-child(2n-1) { 
	float:left;
}
*/
@media screen and  (max-width: 1350px) {
	.index-carousel {
		  width: 916px;
	}   
	.box-content {
		width: 400px;
	}   
	.box-content.moment-style {
		  height: 300px;
	  }
	  .index-box {
		    width: 400px;
	    }
	.index-box.right {
		left:510px !important;
	}
	p.note {
	     	padding: 20px;
	      font-size: 12px;
	      color: #8B8B8B;
              height: 90px;
	      text-indent: 22px;
	      letter-spacing: 0.7px;
	      line-height: 24px;
	      padding-top: 0px;
	}
}
@media screen and (max-width: 1100px) {
	.index-carousel {
		width:754px;
	}
	.box-content {
		width: 320px;
       }
       .index-box{
	       width:320px;
       }
       .index-box.right {
	       left:430px !important;
       }
       p.note{
	       font-size:12px;
	       line-height:20px;
	       height:107px;
	       padding-top:11px;
       }
       .box-content.moment-style {
	       height:256px;
       }
}

@media screen and (max-width: 800px) {
	#navigation{
		margin-left:-60px;
	}
	#navigation a{
		font-size:17px;
		  margin: 0px 6px 0px 13px;
		 padding: 24px 0 23px;
	 }
	 #navigation li{
		 margin:7px;
	 }
	.index-carousel {
		width:100%;
		height: 100%;
	}
	.index-box{
		display:block;
		position:relative;
	}
	.index-box.right{
		left:0 !important;
	}
	.box-point{
		display:none;
	}
	.index-box{
		margin:0 auto;
		width:100%;
		margin-top:6%;
	}
	  .box-content {
		  width:80%;
		  margin:0 auto;
	  }
	  .box-content.moment-style {
		  height:100%;
	  }
	  .time-line {
		  display:none;
	  }
	  .note-image img {
		  margin-top:0px;
	  }
	  

}
/* ------------------------------------------------------------------------------- */
/*  10.  Blog
 /* ------------------------------------------------------------------------------- */
.updated:not(.published) {
	display: none;
}
 .comment-body b.fn {
	 margin-left: 10px;
 }
 .return_top {
	 background: url(../images/return_top.png) no-repeat 0px 100%;
	 width:58px;
	 height:58px;
 }
 .return_top:hover {
	 background: url(../images/return_top.png) no-repeat -60px 100%;
	 width:58px;
	 height:58px;
 }


 .post {
	 background: url(../images/sep_d.png) repeat-x 0 100%;
	/* margin: 0 0 60px;*/
	 padding: 0 0 35px;
 }
 .post h2 {
	 font-size: 30px;
	 line-height: 1.4;
	 margin: 0;
	 text-transform: capitalize;
	 font-weight: 500;
	 font-family: "microsoft yahei";
 }
 .post-meta .author {
	 color: #959595;
	 /**        border-bottom: 1px dotted #e5e5e5; **/
	 padding: 5px 0;
 }
 .post-meta .vcard a {
	 margin-left: 0px;
 }
 .post-meta .posted-on {
	 margin-left: 10px;
 }
 .post-meta .author a {
	 color: #d73300;
 }
 .post-meta .author a:hover {
	 color: #C7060E;
 }
 .post-meta .date, .post-meta .tags, .post-meta .comments , .post-meta .view{
	 color: #959595;
	 display: inline-block;
	 margin-right: 15px;
	 padding: 12px 0 27px 0;
 }
 .post-meta .date a, .post-meta .tags a, .post-meta .comments a {
	 color: #959595;
 }
 .post-meta .date a:hover, .post-meta .tags a:hover, .post-meta .comments a:hover {
	 color: #d73300;
 }
 .post-meta .date {
	 padding-left: 15px;
	 background: url(../images/blog_icon_date.png) no-repeat 0 16px;
 }
 .post-meta .tags {
	 padding-left: 17px;
	 background: url(../images/blog_icon_tags.png) no-repeat 0 16px;
 }
 .post-meta .view {
	 padding-left: 28px;
	 margin-left: -7px;
	 background: url(../images/blog_icon_view.png) no-repeat 0 16px;
 }
 .post-meta .comments {
	 padding-left: 17px;
	 background: url(../images/blog_icon_comments.png) no-repeat 0 15px;
 }
 .post-entry {
	 display: block;
	 position: relative;
 }
 .post-entry .image, .post-entry .slider, .post-entry .video {
	 display: block;
	 margin: 0 auto 23px;
	 max-width: 100%;
 }
 .post-entry p {
	 display: block;
	 font-size: 14px;
 }
 .post-entry a {
	 color: #d73300;
 }
 .post-entry a:hover {
	 color: #e38473;
 }


 .nav-previous {
	 margin-top: 10px;
 }
 .nav-next {
	 float: right;
 }
 /* ------------------------------------------------------------------------------- */
 /*   Blog
  *   ------------------------------------------------------------------------------- */
 /* ------------------------------------------------------------------------------- */
 /*  14.  Footer
  */* ------------------------------------------------------------------------------- */
/*  Logo List  --------------------------------*/

  .logo-list {
	  border-top: 1px dotted #ccc;
	  display: inline-block;
	  margin: 70px -30px -105px;
	  padding: 20px 30px;
	  position: relative;
  }    
  .logo-list li { 
	  border-left: 1px dotted #ccc;
	  display: block;
	  float: left;
	  height: 89px;
	  overflow: hidden;
	  width: 187px;
	  position: relative;
  }   
  .logo-list li:last-child {
	  margin-right: -5px;
	  border-right: 1px dotted #ccc;
	  width: 186px;
  }
  .logo-list img {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  width: 186px;
  }
  .logo-list .bw-wrapper {
	  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
	  filter: alpha(opacity=50);
	  opacity: .5;
  }
  .logo-list .bw-wrapper:hover {
	  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	  filter: alpha(opacity=100);
	  opacity: 1;
  }
  /*    by monniya  */
  .bw-wrapper-mylogo{
	  opacity: .7;
  }
  .bw-wrapper-mylogo:hover{
	  opacity: 1;
  }	
/* ----------------------------------------------------------*/
  .photo-stream {
	  margin-right: -12px;
  }
  .photo-stream li {
	  float: left;
	  margin: 0 12px 12px 0;
  }
  .photo-stream a {
	  display: block;
  }
  .photo-stream a:hover {
	  outline: 2px solid #d73300;
  }
  .photo-stream img {
	  display: block;
	  height: 46px;
	  width: 46px;
  }

  #footer .photo-stream {
	  margin-top: 22px;
  }

  .footer-style {
	  float: left;
	  margin-right: 20px !important;
	  position: relative;

  }
  #footer .footer-style.logo a {
	  font-size: 22px;
	  color: #fff;
  }
  .footer-style.last {
	  margin-right: 0 !important;
	  float: right;
  }

  #footer .one-fourth.logo a {
	  font-size: 22px;
	  color: #fff;
  }
  #footer .logo a.tale {
	  color: #F05C5C;
  }
  #footer {
	  margin: 100px 0 100px 0;
	  padding: 60px 0 0;
	  background: #333;
	  color: #848484;
  }
  #footer .logo {
	  display: block;
	  margin: 0 0 15px;
  }
  #footer h5 {
	  color: #818181;
	  margin-bottom: 17px;
	  margin-top: 9px;
  }
  #footer a {
	  color: #636363;
  }
  #footer a:hover {
	  color: #d73300;
  }
  .info p {
	  text-align:center;
	  color: #B0AEAE;
  }
  /*  Contact Details  --------------------------------*/

  #footer .address, #footer .phone, #footer .email {
	  color: #959595;
  }


  /*  Copyright & Social Links  --------------------------------*/

  #footer .info {
	  background: url(../images/sep_f.png) repeat-x 0 0;
	  line-height: 21px;
	  margin-top: 34px;
	  padding-bottom: 14px;
	  padding-top: 17px;
	  font-size:13px;
  }
  .copyright li {
	  display: block;
	  float: left;
	  margin-right: 30px;
  }
  .social-links {
	  float: right;
  }
  .social-links li {
	  display: block;
	  float: left;
	  height: 21px;
	  margin: 0 0 0 8px;
	  position: relative;
	  text-indent: -9999px;
	  width: 21px;
  }
  .social-links li a {
	  position: absolute;
	  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  filter: alpha(opacity=0);
	  opacity: 0;
	  top: 0; left: 0; bottom: 0; right: 0;
  }
  .social-links li a:hover {
	  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	  filter: alpha(opacity=100);
	  opacity: 1;
  }
  .social-links .twitter {
	  background: url(../images/icon_twitter.png) no-repeat;
	  background-position: 0 -21px;
  }
  .social-links .twitter a {
	  background: url(../images/icon_twitter.png) no-repeat;
  }
  .social-links .facebook {
	  background: url(../images/icon_facebook.png) no-repeat;
	  background-position: 0 -21px;
  }
  .social-links .facebook a {
	  background: url(../images/icon_facebook.png) no-repeat;
  }
  .social-links .linkedin {
	  background: url(../images/icon_linkedin.png) no-repeat;
	  background-position: 0 -21px;
  }
  .social-links .linkedin a {
	  background: url(../images/icon_linkedin.png) no-repeat;
  }
  .social-links .digg {
	  background: url(../images/icon_digg.png) no-repeat;
	  background-position: 0 -21px;
  }
  .social-links .digg a {
	  background: url(../images/icon_digg.png) no-repeat;
  }
  .social-links .vimeo {
	  background: url(../images/icon_vimeo.png) no-repeat;
	  background-position: 0 -21px;
  }
  .social-links .vimeo a {
	  background: url(../images/icon_vimeo.png) no-repeat;
  }

  /* ------------------------------------------------------------------------------- */
  /*  11.  Portfolio - moment
   /* ------------------------------------------------------------------------------- */

   /*  Project Feed Filter  --------------------------------*/

   .project-feed-filter {
	   display: inline-block;
	   margin: 0 0 40px;
   }
   .project-feed-filter li {
	   display: block;
	   float: left;
	   list-style: none;
	   margin: 0;
	   padding: 5px 0;
   }
   .project-feed-filter a {
	   color: #959595;
	   display: block;
	   margin: 0 20px 0 0;
   }
   .project-feed-filter a:hover, .project-feed-filter .current  {
	   color: #d73300;
   }
   /*  Project Feed  --------------------------------*/

   .project-feed {
	   margin: 0 -20px 80px 0
   }
   .project-feed > div {
	   float: left;
	   list-style: none;
	   margin: 0 20px 20px 0;
	   position: relative;
   }
   .project-feed div a {
	   display: block;
	   text-align: left;
   }
   .project-feed div img {
	   display: block;
	   width: 100%;
   }
   /*  Project Item Overlay  --------------------------------*/

   .project-item .overlay {
	   background: #d73300;
	   background: rgba(215, 51, 0, .75);
	   height: 100%;
	   left: 0;
	   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   filter: alpha(opacity=0);
	   opacity: 0;
	   overflow: hidden;
	   position: absolute;
	   top: 0;
	   -webkit-backface-visibility: hidden;
	   width: 100%;
   }
   .project-item:hover .overlay {
	   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	   filter: alpha(opacity=100);
	   opacity: 1;
   }
   .project-item .overlay h5 {
	   color: #fff;
	   font-size: 24px;
	   font-weight: 100;
	   margin: 30px 20px 0;
	   text-transform: capitalize;
   }
   .project-item .overlay p {
	   color: #f0bfb8;
	   display: block;
	   font-size: 11px;
	   margin: 10px 20px 0;
   }


   /*  Project Item Overlay (Alt. Version)  --------------------------------*/

   .project-item .project-title {
	   background: #f0f0f0;
	   padding: 17px 10px;
   }
   .project-item:hover .project-title {
	   background: #d73300;
   }
   .project-item:hover .project-title h5 {
	   color: #fff;
   }
   .project-item .project-title h5 {
	   color: #636363;
	   font-size: 10px;
	   font-weight: 600;
	   margin: 0;
   }
   /*  Portfolio Details  --------------------------------*/

   .single-project {
	   border: 1px solid #e5e5e5;
	   margin-top: 30px;
   }
   .single-project img {
	   display: block;
	   width: 100%;
   }
   .project-nav {
	   display: inline-block;
	   float: right;
	   margin: 13px 0 40px;
   }
   .project-nav li {
	   float: left;
   }
   .project-nav .prev, .project-nav .next, .project-nav .back {
	   background: #f0f0f0 url(../images/c_icon_prev.png) no-repeat 45% 50%;
	   display: block;
	   height: 17px;
	   margin-left: 5px;
	   text-indent: -9999px;
	   width: 17px;
   }
   .project-nav .next {
	   background: #f0f0f0 url(../images/c_icon_next.png) no-repeat 50% 50%;
   }
   .project-nav .back {
	   background: #f0f0f0 url(../images/c_icon_back.png) no-repeat 50% 50%;
   }
   .project-nav .prev:hover {
	   background: #d73300 url(../images/c_icon_prev_w.png) no-repeat 45% 50%;
   }
   .project-nav .next:hover {
	   background: #d73300 url(../images/c_icon_next_w.png) no-repeat 50% 50%;
   }
   .project-nav .back:hover {
	   background: #d73300 url(../images/c_icon_back_w.png) no-repeat 50% 50%;
   }
   /*  Isotope Plugin  --------------------------------*/

   .isotope-item {
	   z-index: 2;
   }
   .isotope-hidden.isotope-item {
	   pointer-events: none;
	   z-index: 1;
   }
   .isotope, .isotope .isotope-item {/* change duration value to whatever you like */
	   -webkit-transition-duration: 0.8s;
	   -moz-transition-duration: 0.8s;
	   transition-duration: 0.8s;
   }
   .isotope {
	   -webkit-transition-property: height, width;
	   -moz-transition-property: height, width;
	   transition-property: height, width;
   }
   .isotope .isotope-item {
	   -webkit-transition-property: -webkit-transform, opacity;
	   -moz-transition-property:    -moz-transform, opacity;
	   -ms-transition-property:     -ms-transform, opacity;
	   -o-transition-property:         top, left, opacity;
	   transition-property:         transform, opacity;
   }
   .one-fourth:nth-child(n) { margin-right: 0px !important; }
   .one-fourth:nth-child(n) { margin-top: 20px !important; }
.one-fourth:nth-child(n) { margin-left: 2% !important; }
.project-feed.clearfix.isotope {
	margin: 0px auto;
	width: 98%;
}
	   .one-fourth {
		   width: 220px;
	   }
 /* ------------------------------------------------------------------------------- */
 /*  12. Essay 
 /* ------------------------------------------------------------------------------- */


 /*  Blog (Alt. Version)  --------------------------------*/
 .post-block {
	 background: #d73300;
	 display: block;
	 margin-bottom: 80px;
 }
 .post-block .post-entry {
	 margin: 13px 20px 15px;
 }
 .post-block .post-entry h2 {
	 border-bottom: 1px dotted #e3714d;
	 color: #fff;
	 font-weight: 400;
	 margin-bottom: 15px;
	 padding-bottom: 14px;
	 text-transform: capitalize;
	 height: 68px;/*monniya*/
 }
 .post-block .post-entry h2:hover {
	 color: #f0bfb8;
 }
 .post-block .post-entry p {
	 color: #f0bfb8;
	 font-size: 11px;
 }
 .post-block img {
	 display: block;
	 width: 100%;
 }
 .post-block .post-meta {
	 padding: 11px 20px;
 }
 .post-block a {
	 color: #fff !important;
 }
 .post-block a:hover {
	 color: #f0bfb8 !important;
 }
 .post-block .link, .post-block .comments {
	 margin: 0;
	 padding: 0;
	 text-transform: uppercase;
 }
 .post-block .comments {
	 float: right;
 }
.one-third{ 
	width: 300px;
	float: left;
        margin-right: 0% ;
  	 position: relative;
	margin-left:2%;
 }

	
